.about-content {
    text-align: center;
    padding: 2rem;
}

.social-icons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    i {
    color: $color__brand-color-primary;
    font-size: 40px;
    }
}

.ihf-grid-result-price title-bar-1 {
    background-color: $color__brand-color-primary !important;
}

.meet {
    @include tablet {
        display: flex;
    }
    img {
        height: 100%;
        width: 50%;
        display: block;
        margin: 0 auto;
    }
}

// Flickty Custom CSS @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

.flickity-prev-next-button.previous {
    left: -10%!important;
    box-shadow: none!important;
}
.flickity-prev-next-button.next {
    right: -10%!important;
    box-shadow: none!important;
}
.flickity-page-dots {
    display: none!important;
} 
.flickity-prev-next-button .arrow {
    fill: $color__brand-color-primary!important;
}

.carousel {
    width: 80%;
    margin: 0 auto;
}

.carousel-cell {
    width: 100%;
}