.page-template-about-me section {
    padding: 2rem;
    @include tablet {
        padding: 4rem;
    }
}

.about-content {
    text-align: center;
    padding: 0 0 2rem 0;
    color: white;
}

.social-content {
    text-align: center;
    padding: 0 2rem 2rem 2rem;
}

.contactme {
    background: #0088FF;
    padding: 4rem;
}

.intro-content {
    text-align: center;
    padding-top: 2rem;
    @include tablet {
        padding: 0 2rem 0 2rem;
    }
    @include desktop {
        padding: 0 4rem 0 4rem;
        font-size: 18px;
    }
}

.social-icons {
    display: flex;
    width: 75%;
    justify-content: space-around;
    margin: 0 auto;
    @include tablet {
        width: 60%;
    }
    @include desktop {
        width: 20%;
    }
    i {
    color: $color__brand-color-primary;
    font-size: 40px;
    }
}

.ihf-grid-result-price title-bar-1 {
    background-color: $color__brand-color-primary !important;
}

.meet {
    @include tablet {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        max-width: 960px;
    }
    img {
        height: 100%;
        width: 50%;
        display: block;
        margin: 0 auto;
        @include tablet {
            padding: 0 24px 24px 24px;
            margin: 0;
        }
        @include desktop {
            width: 40%;
        }
    }
    p {
        @include desktop {
            width: 40%;
        }
    }
}

// Flickty Custom CSS @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

.page-template {
    .flickity-prev-next-button.previous {
    left: -17%!important;
    box-shadow: none!important;
    top: 35%!important;
    @include tablet {
        left: -5.5%!important;
    }
}
    .flickity-prev-next-button.next {
        right: -17%!important;
        box-shadow: none!important;
        top: 35%!important;
        @include tablet {
            right: -5.5%!important;
        }
    }

    .flickity-viewport {
        height: 350px!important;
        @include tablet {
            height: 320px!important;
        }
        @include desktop {
        height: 200px!important;
        }
    }

}

.flickity-prev-next-button.previous {
    left: -8%!important;
    box-shadow: none!important;
    top: 35%!important;
    @include tablet {
        left: -5.5%!important;
    }
}
.flickity-prev-next-button.next {
    right: -8%!important;
    box-shadow: none!important;
    top: 35%!important;
    @include tablet {
        right: -5.5%!important;
    }
}
.flickity-page-dots {
    display: none!important;
} 
.flickity-prev-next-button .arrow {
    fill: $color__brand-color-primary!important;
}

.review-wrapper {
    padding-top: 1rem;
    max-width: 570px;
    @include tablet {
        max-width: none;
    }
}

.client-name {
    text-align: end;
    padding-top: 0.5rem;
    @include desktop {
    padding-right: 2rem;
    }
    a {
        text-decoration: none;
        color: black;
        pointer-events: none;
        cursor: default;
    }
}

.carousel {
    width: 85%;
    margin: 0 auto;
    @include desktop {
        width: 70%;
    }
}

.carousel-cell {
    width: 100%;
    @include tablet {
        width: 50%;
    }

    @include desktop {
        width: 50%;
    }   
}

.client-quotes {
    img {
        width: 5%;
    }
    p {
        font-size: 14px;
        padding-left: 10px;
        @include tablet {
            font-size: 16px;
        }
        @include desktop {
            font-size: 12px;
            padding-right: 2rem;
        }
        
    }
}

.flickity-viewport {
    height: 300px!important;
    @include tablet {
        height: 320px!important;
    }
    @include desktop {
    height: 200px!important;
    }
}