.site-footer {
    background-color: #DDDDDD;
    padding: 2rem;
}

.self-info, .work-info{
    text-align: center;
    padding: 15px;
    font-size: 14px;
}

.copyright-info {
    text-align: end;
    padding: 15px;
    font-size: 10px;
}

.bold-font {
    font-weight: bold;
}

.bold-caps {
    text-transform: uppercase;
    font-weight: bold;
}