// Media Query

$desktop-width: 1240px; 
$desktop-content-padding: 108px;
$mobile-content-padding: 94px;
$tablet-width: 641px;

body {
    font-family: 'Avenir';
    font-style: normal;
    font-stretch: normal;
}

.container {
    min-width: 350px;
    max-width: 656px;
    margin: 0 auto;
    @include tablet {
        max-width: 720px;
    }
    @include desktop {
        max-width: 1240px;
    }
}

.wrap {
    padding: 2rem 0;
}

.site-content {
    padding-top: 150px;
}

.blue-font {
    color: $color__brand-color-primary;
}