.site-header {
    position: fixed;
    z-index: 10000;
}

.site-content {
    padding-top: 100px;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 0 2rem;
    width: 100vw;
    background-color: white;
    z-index: 1!important;
    @include tablet {
        padding: 2rem 4rem 0 4rem;
    }
}

.header-logo-front {
    height: 100px;
    width: 175px;
    background: url('../../assets/icons/logo-dark.svg') no-repeat center;
    @include tablet {
        background: url('../../assets/icons/logo-white.svg') no-repeat center;
    }
}

.header-logo-scrolled {
    height: 100px;
    width: 175px;
    background: url('../../assets/icons/logo-dark.svg') no-repeat center;
}

.header-logo, .header-logo-front {
    height: 100px;
}

.nav-button {
    img {
    height: 40px;
    }
}

.hamburger-front {
    height: 50px;
    background: url('../../assets/icons/menu-blue.jpg') no-repeat center;
}

// .hamburger-front-scrolled {
//     height: 50px;
//     background: url('../../assets/icons/menu-blue.jpg') no-repeat center;
// }

.main-navigation {
    display: none;
    position: absolute;
    top: 132px;
    left: 0;
    background: white;
    width: 100%;

    @include tablet {
        background: transparent;
        display: flex!important;
    }

    li {
        border-bottom: 1px black solid;
        padding: 1rem;
        @include tablet {
            border-bottom: none;
        }
    }

    @include tablet {
        display: flex;
        position: static;
    }
    @include desktop {
        justify-content: flex-end;
    }
}

.main-navigation-scrolled {
    display: flex;
    position: absolute;
    top: 132px;
    left: 0;
    width: 100%;
    z-index: 1;
    @include tablet {
        display: flex;
        justify-content: flex-end;
        position: static;
    }
}

.menu {
    display: none;

    a {
        color: #0088FF;
        @include tablet {
            &:hover {
                border-top: 2px solid #0088FF;
            }
        }
    }
}

.sub-menu {
    flex-direction: row;
    background-color: #0088FF;
    color: white;
    a {
        color: white;
        &:hover {
            border: none;
        }
    }
    @include tablet {
        flex-direction: column;
    }
}

.hamburger {
    display: flex;
    justify-content: center;
    height: 50px;
    background: url('../../assets/icons/menu-blue.jpg') no-repeat center;
    @include tablet {
        display: none;
    }
}

.main-nav {
    width: 30%;
    @include tablet {
        width: 60%;
    }
    @include desktop {
        width: 70%;
    }

    ul {
    display: flex;
    flex-direction: column;
        @include tablet {
            flex-direction: row;
        }
    }

    li {
        &:hover {
                background-color: aliceblue;
            }
        @include tablet {
            display: flex;
            justify-content: center;
            // padding: 0 9px;
            min-width: 117px;
            &:hover {
                background-color: transparent;
            }
        }
    }
}

#show-nav {
    background: #0088FF;
    color: black;
    display: block;
    @include tablet {
        display: none;
    }
}

.mob-menu-header-holder, .mobmenu-push-wrap {
    background: transparent !important;
}

.home {

    .header-bar {
        background-color: white;
        z-index: 1;
        @include tablet {
            background-color: transparent;
        }
    }

    .menu a {
        color: #0088FF;
        &:hover {
            color: $color__brand-color-secondary;
        }
        @include tablet {
            color: white;
        }
    }

    .scrolled {
        background-color: white;
    }

    .menu-scrolled {
        a {
        color: #0088FF;
        }
    }

    .sub-menu {
    background-color: white;
    color: white;
        a {
            color: #0088FF;
        }
    }
    
}