.home {
    background: url("../../assets/background/home.png") no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.greeting-wrapper {
    text-align: center;
}

.greeting-header {
    font-size: 40px;
    font-weight: normal !important;
    padding: 2rem 1rem;
}

.greeting-content {
    line-height: 28px;
    padding: 2rem;
}

.contact-button {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 50px;
    width: 250px;
    border: 2px solid $color__brand-color-primary;
    color: $color__brand-color-primary;
    font-size: 20px;
    &:hover {
        background-color: $color__brand-color-primary;
        color: white;
    }
}