.landingpage {
    height: 85vh;
    background: url("../../assets/background/landing-bg-desktop.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    // margin: -68px;
    padding-top: 168px;
    @include tablet {
        background-position: 100% 0;
    }
    @include desktop {
        background-position: 0 90%;
        // -webkit-background-size: contain;
        // -moz-background-size: contain;
        // -o-background-size: contain;
        // background-size: contain;
    }
}

.home {
    
    .site-content {
        padding-top: 0;
    }

    .col-xs-6 {
        text-align: left !important;
        width: 100%;
        display: inline-block !important;
        float: none !important;
    }

    .ihf-for-sale-price {
        font-size: 18px;
        color: $color__brand-color-primary;
    }

    #ihomefinderpropertiesgallery-2 {
        list-style: none!important;
    }

    #ihf-main-container .ihf-center{
        // width: 83%!important;
        margin-left: 0!important;
        @include tablet {
            width: 100%!important;
        }
    }
}

.greeting-wrapper {
    text-align: center;
    padding: 0 0 2rem 0;
}

.greeting-header {
    font-size: 40px;
    font-weight: 200 !important;
    padding: 0 2rem;
    @include tablet {
        padding: 2rem 2rem 0 2rem;
    }
}

.greeting-content {
    line-height: 28px;
    padding: 2rem 3rem;
    margin: 0 auto;
    @include tablet {
        padding: 2rem 0;
        width: 68%;
    }
    @include desktop {
        width: 40%;
    }
}

.contact-button {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    box-shadow: none;
    height: 45px;
    width: 210px;
    border: 1px solid $color__brand-color-primary;
    color: $color__brand-color-primary;
    font-size: 20px;
    text-transform: uppercase;
    &:hover {
        background-color: $color__brand-color-primary;
        color: white;
        border: 2px solid $color__brand-color-primary;
        box-shadow: none;
        text-shadow: none;
    }
}

.calltoaction{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: none;
    height: 45px;
    width: 210px;
    border: 1px solid $color__brand-color-primary;
    border-radius: 5px;
    color: $color__brand-color-primary;
    font-size: 20px;
    text-transform: uppercase;
    &:hover {
        background-color: $color__brand-color-primary;
        color: white;
        border: 1px solid white;
        box-shadow: none;
        text-shadow: none;
    }
}

// Featured Properties section @@@@@@@@@@@@@@@@@@@@@@@@@@@

.featured-properties {
    // margin-top: 68px;
    z-index: 1;
    background-color: #F8F8F8;
}

#ihomefinderpropertiesgallery-2 {
    display: flex!important;
    flex-direction: column;

    a{
        // align-self: flex-end;
        margin: 0 auto;
    }
}

.home {

    .about-content {
        padding: 0 0 2rem 0;
    }
    #ihf-main-container .col-xs-12 {
        padding: 1rem;
        a {
            font-size: 20px;
        }
    }
}
#Featured_Properties {
    ul {
        margin: 0;
    }
}

.property-divider {
    background: white !important;
}

.gallery-prop-info {
    
    .ihf-small-results-photo {
        max-width: 500px!important;
    }

    .row{
        &:nth-child(1) {
            // float: right
        }
        &:nth-child(n+3) {
            // float: right;
        }
    }
    
}
