.ihf-grid-result-container {
    position: relative;
    padding: 2px;
}
.ihf-grid-result-basic-info-container {
    min-width: 300px;
}

#ihf-main-container.ihf-color-scheme-light-blue .title-bar-1 {
    background-color: $color__brand-color-primary!important;
}

.ihf-grid-result-basic-info-item1, .ihf-grid-result-basic-info-item2, .ihf-grid-result-basic-info-item3 {
    display: flex;
    position: relative;
    b {
        font-size: 30px;
        padding-top: 10px;
        padding-right: 3px;
        color: $color__brand-color-primary;
    }
}

.ihf-grid-result-photocount {
    position: absolute!important;
    bottom: 70px;
    right: 5px;
}

.sqft {
    content: url("../../assets/icons/sqft-black.svg");
    height: 15px;
    order: 1;
    position: absolute;
    right: 15px;
    top: 6px;
}

.bedicon {
    content: url("../../assets/icons/bed-black.svg");
    height: 18px;
    order: 1;
    position: absolute;
    right: 10px;
    top: 5px;
}

.bathicon {
    content: url("../../assets/icons/shower-black.svg");
    height: 15px;
    order: 1;
    position: absolute;
    right: 30px;
    top: 5px;
}

.ihf-listing-detail {
    width: 100vw;
    padding: 0 2rem;
}